<config>
    <colors>
        <color name="primary">#E6F7FF</color>
        <color name="alert">#FF4C4C</color>
        <color name="success">#4CAF50</color>
        <color name="neutral">#F0F0F0</color>
        <color name="background">#FFFFFF</color>
        <color name="text">#333333</color>
    </colors>

    <gui>
        <title>Demo nights!</title>
        <bgcolor>success</bgcolor>
        <label 
            text="Loaded from XML!" 
            row="1" 
            column="2" />
    </gui>
</config>

