<config>
    <colors>
        <color name="primary"    value="#E6F7FF"/>
        <color name="alert"      value="#FF4C4C"/>
        <color name="success"    value="#4CAF50"/>
        <color name="neutral"    value="#F0F0F0"/>
        <color name="background" value="#FFFFFF"/>
        <color name="text"       value="#333333"/>
    </colors>

    <gui>
        <title>A proof of concept!</title>
        <bgcolor>text</bgcolor>
        <label 
            text="Loaded from XML!" 
            row="4" 
            column="5" />
    </gui>
</config>
